<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"> <!-- Include your styles if needed -->
    <title>About Us</title>
</head>

<body>
    <div class="container my-3 py-3">
        <h1 class="text-center">About Us</h1>
        <hr />
        <div class="info-container">
            <div>
                <p class="text-center lead para">
                    Welcome to LazzyPlay! At LazzyPlay, we are passionate about<br />
                    gaming. Our mission is to provide gamers with the ultimate<br />
                    destination for all their gaming needs. Whether you're a casual<br />
                    player or a hardcore enthusiast, we've got you covered.
                </p>
            </div>
            <div class="text-center">
                <img src="~/Images/Image2/aboutLazy.png" height="400" width="400" alt="About LazzyPlay" />
            </div>
        </div>

        <h2 class="text-center py-4">Our Most Popular Products</h2>
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-3 px-3">
                <div class="card h-100">
                    <img class="card-img-top img-fluid" src="~/Images/Image2/gamingKeyboardImage.png" alt="Gaming Keyboard" height="160" />
                    <div class="card-body">
                        <h5 class="card-title text-center">HyperStrike Keyboards</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 mb-3 px-3">
                <div class="card h-100">
                    <img class="card-img-top img-fluid" src="~/Images/Image2/gamingChairImage.png" alt="gamingChairImage" height="160" />
                    <div class="card-body">
                        <h5 class="card-title text-center">PosturePro Chairs</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-3 px-3">
                <div class="card h-100">
                    <img class="card-img-top img-fluid" src="~/Images/Image2/gamingPlaystationImage.png" alt="gamingPlaystationImage" height="160" />
                    <div class="card-body">
                        <h5 class="card-title text-center">Ultimate PlayStations</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-3 px-3">
                <div class="card h-100">
                    <img class="card-img-top img-fluid" src="~/Images/Image2/gamingHardwareImage.png" alt="gamingHardwareImage" height="160" />
                    <div class="card-body">
                        <h5 class="card-title text-center">Hardware Accessories</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
