
 <style>
     .flex-container{
        display : flex;   
        gap : 25px;
     }
 </style>
<div class="responsive-container-block outer-container">
    <div class="responsive-container-block inner-container">
        <h1 class="text-blk heading-text">
            Our Team
        </h1>
<div class="flex-container">
    <div class="card" style="width: 18rem;">
      <img src="~/Images/Image2/Ram.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">
                Name: Ram Gawali
                role: Software Engineer<br />
                gmail: ramgawali45@gmail.com<br />
                phone : 7066716689
        </p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="~/Images/Image2/Piyush.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">
                Name: Piyush Harne
                role: Software Engineer<br />
                gmail: piyushharne26@gmail.com<br />
                phone : 8408855958
            </p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="~/Images/Image2/Vrushali.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">
                Name: Vrushali kendre
                role: Software Engineer<br />
                gmail: vrushalikendre13@gmail.com<br />
                phone : 7972633099
            </p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="~/Images/Image2/Sagar.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">
                Name: Sagar Suryawanshi
                role: Software Engineer<br />
                gmail: connectsagar02@gmail.com<br />
                phone : 9403773289
            </p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="~/Images/Image2/Abhishek.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">
                Name: Abhishek Shirote
                role: Software Engineer<br />
                gmail: abhishekvashirote@gmail.com<br />
                phone : 9075152368
            </p>
        </div>
    </div>
</div>