@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Application Role";
}

<h1>View Roles</h1>

<p>
    <a asp-action="Create">Create Role</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
        
            <th>@Html.DisplayNameFor(model => model.Name)</th>
        
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <th>@Html.DisplayFor(modelItem => item.Id)</th>

                <th>@Html.DisplayFor(modelItem => item.Name)</th>

                <th></th>
            </tr>
        }
    </tbody>

</table>